<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <title>HTML Table</title>
</head>
<body>
    <table>
    <thead class="border">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
    </thread>
    
    <tbody>
        
        {% for one_user in users %}
        <tr>
            <td>{{ one_user['first_name'] }}</td>
            <td>{{ one_user['last_name'] }}</td>
            <td>{{ one_user['first_name'] }} {{ one_user['last_name'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>